body{
    padding-top: 5.5vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #DCD6F7;
   
}
.heading{
    text-align: center;
    font-size: 5.2vh;
    margin: auto;
    font-weight: 300;
    background-color: #46B1C9;
    height: 50px;
}
.top-head{
    color: #222;
    padding: 0 5px 0 5px;
    border-bottom: solid 1px ;
}
.results-main{
    padding: 8vh 50px 0 50px;
    font-size: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("logo.ico");
    height: 1000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   
}
.results-box{
    margin: 5px;
    padding: 40px 40px;

}
.event-name{
    font-weight: 700;
}
.event-winners{
    font-size: 3vh;

}

