body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
.heading{
	font-weight: 300;
	padding: 40px 0 60px 0;
	font-size: 35px;
	text-align: center;
}
.top-head{
	border-bottom: solid 1px #10bfde;
}
.big-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.big-item{
	margin-bottom: 10px;
	height: 275px;
	width: 275px;
}
.big{
	padding-bottom: 5px;
	height: 85%;
	width: 85%;
}
.big-post{
	font-weight: bold;
	color: #333;
}
.box{
	display: flex;
	padding: 80px 100px 40px 100px;
	justify-content: center;
	flex-wrap: wrap;
}
.b-item{
	margin: 1px 2px 25px 2px;
	height: 250px;
	width: 250px;
}
.b-img{
	height: 90%;
	width: 90%;
}
.b-post{
	font-weight: bold;
	font-size: 15px;
	color: #333;
}
.name{
	font-size: 15px;
}